
.main_giohang--quanli-fromdangnhap{
    border: 1px solid #a5b1c2;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #a5b1c2;
    width: 400px;
    margin: 0 auto;
    margin-top: 45px;
}
.main_giohang--quanli-fromdangnhap-h2{
    text-align: center;
    display: block;
    padding: 20px 0;
}
.main_giohang--quanli-fromdangnhap-h2 h2{
    font-weight: 400;
    font-size: 1.2rem;
}
.main_giohang--quanli-fromdangnhap-ip{
    padding-bottom: 20px;
    margin: 0 10px;
}
.main_giohang--quanli-fromdangnhap-ip .ip1{
    border-radius: 2px;
}
.main_giohang--quanli-fromdangnhap-ip2{
    padding-bottom: 20px;
    margin: 0 10px;
}
.main_giohang--quanli-fromdangnhap-ip2 .ip1{
    border-radius: 2px;
}
.main_giohang--quanli-fromdangnhap-button{
    margin: 0 10px;
    
}
.main_giohang--quanli-fromdangnhap-button button{
    width: 100%;
    color: #fff;
    background-color: #EE5A24;
    outline: none;
    border: none;
    padding: 10px 0;
    border-radius: 2px;
}
.main_giohang--quanli-fromdangnhap-h4{
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}
.main_giohang--quanli-fromdangnhap-h4 h4{
    padding: 10px 0;
}
.main_giohang--quanli-fromdangnhap-h4 h4 a{
    text-decoration: none;
    color: #4834d4;
    font-size: 0.9rem;
}
.main_giohang--quanli-fromdangnhap-or{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.main_giohang--quanli-fromdangnhap-or h3{
    text-align: center;
    background-color: rgba(229, 5, 5, 0.5);
    color: #fff;
    width: 30px;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 100%;
}
.main_giohang--quanli-fromdangnhap-3btn{
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}
.main_giohang--quanli-fromdangnhap-3btn-fb{
    display: flex;
    padding: 10px 0px;
    border-radius: 2px;
    border: 1px solid #CAD3C8;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    justify-items: center;
}
.main_giohang--quanli-fromdangnhap-3btn-fb ion-icon{
    color: #3867d6;
    font-size: 1.3rem;
    margin: 0px 5px;
}
.main_giohang--quanli-fromdangnhap-3btn-fb h3 a{
    text-decoration: none;
    padding-right: 5px;
    color: black;
}
.main_giohang--quanli-fromdangnhap-3btn-gg{
    display: flex;
    padding: 10px 0px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #CAD3C8;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.main_giohang--quanli-fromdangnhap-3btn-gg ion-icon{
    font-size: 1.3rem;
    margin: 0px 5px;
    color: #2ed573;
}
.main_giohang--quanli-fromdangnhap-3btn-gg h3 a{
    text-decoration: none;
    padding-right: 5px;
    color: black;
}
.main_giohang--quanli-fromdangnhap-3btn-ap{
    display: flex;
    padding: 10px 0px;
    border-radius: 2px;
    border: 1px solid #CAD3C8;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.main_giohang--quanli-fromdangnhap-3btn-ap ion-icon{
    font-size: 1.3rem;
    margin: 0px 5px;
}
.main_giohang--quanli-fromdangnhap-3btn-ap h3 a{
    text-decoration: none;
    color: black;
    padding-right: 5px;
}
.postitem{
    width: calc(95% /3);
}
.main_giohang--quanli-fromdangnhap-h3{
    margin: 0 10px;
    display: flex;
    padding: 30px 0;
    justify-content: center;
}
.main_giohang--quanli-fromdangnhap-h3 h3{
    font-size: 0.9rem;
    color: #d1d8e0;
}
.main_giohang--quanli-fromdangnhap-h3 h3 a{
    text-decoration: none;
    color: #EE5A24;
    font-size: 0.9rem;
    margin-left: 5px;
}
@media screen and (max-width:415px) {
    .main_giohang--quanli-fromdangnhap{
        width: calc(100% - 20px);
    }
}